.previewMsg{
    margin-top: -3cm;
    margin-left: 2cm;
}

.avtStyle{
    margin: auto;
    margin-top: 8cm;
    margin-right: 1cm;
    font-size: larger;
}

.avtContinue{
    margin-top: -5cm;
    margin-right: 1cm;
    font-size: larger;
}