.change-avatar-page .avatar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  justify-items: center;
  margin: 20px 0;
}

.change-avatar-page .avatar-tile {
  border: 4px solid transparent;
  border-radius: 8px;
  text-align: center;
  background-color: #f0f0f0;
  cursor: pointer;
  width: 170px;
  height: 130px;
  transition: border 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.change-avatar-page .avatar-tile.selected {
  border-color: #11b054;
}

.change-avatar-page .avatar-img {
  width: 200px;
  height: 100px;
  object-fit: fill;
}

.change-avatar-page .avatar-tile img {
  width: 100%;
  height: 130px;
  object-fit: contain;
}

.change-avatar-page .avatar-tile p {
  color: #c80707;
  font-size: 16px;
  font-weight: 700;
  margin: -180px 0 0;
}

.change-avatar-page .scan-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
